##  What machine is your central manager?

CONDOR_HOST = rugen1.cshl.edu

## Pool's short description

COLLECTOR_NAME = Condor Collector at $(FULL_HOSTNAME)

##  Pathnames
RUN     = $(LOCAL_DIR)/run/condor
LOG     = $(LOCAL_DIR)/log/condor
LOCK    = $(LOCAL_DIR)/lock/condor
SPOOL   = /home/condor/spool
EXECUTE = /home/condor/execute


DAEMON_LIST = MASTER

