UID_DOMAIN=cshl.edu
SEC_DAEMON_AUTHENTICATION = REQUIRED
SEC_CLIENT_AUTHENTICATION_METHODS = FS, PASSWORD
SEC_PASSWORD_FILE = /etc/condor/password_file
SEC_DAEMON_INTEGRITY = REQUIRED
SEC_DAEMON_AUTHENTICATION_METHODS = PASSWORD
SEC_NEGOTIATOR_AUTHENTICATION = REQUIRED
SEC_NEGOTIATOR_INTEGRITY = REQUIRED
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = PASSWORD
ALLOW_DAEMON = condor_pool@$(UID_DOMAIN)/*.cshl.edu, \
               condor@$(UID_DOMAIN)/$(IP_ADDRESS)
ALLOW_NEGOTIATOR = condor_pool@$(UID_DOMAIN)/rugen1.cshl.edu
FS_REMOTE_DIR=/data/tmp
