# Normal work hourse 8am to 10pm M-F. 
WorkHours = ( (ClockMin >= 420 && ClockMin < 1320) && \
              (ClockDay > 0 && ClockDay < 6) )
AfterHours = ( (ClockMin < 420 || ClockMin >= 1320) || \
               (ClockDay == 0 || ClockDay == 6) )
# Slot Definitions
# One partitionable slot with up to 16 CPUs, 50% of memory. 
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1 = cpus=16, ram=50%, swap=50%
SLOT_TYPE_1_PARTITIONABLE = True
SlotWeight = Cpus

# Start Conditions
START = TRUE
# Use for non-owner of machine. 
#START = $(AfterHours)
SUSPEND = FALSE
PREEMPT = FALSE
KILL = FALSE

DAEMON_LIST = $(DAEMON_LIST), STARTD
